/*the files to import are in the partials folder that lives inside where
syles sccss lives*/
@import "partials/mixins";
@import "partials/fonts";
@import "partials/colors";

*,
html {
    margin: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;

}

h1, h2, p {
  margin: 0;
}

li {
  padding-left: 1rem;
}

/*----write code here------*/
.header {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  margin: 1rem 0;
  @include mobile-padding;
  @include desktop {
    @include desktop-padding;
 
  }
  &__logo {
    font-family: 'Open Sans';
  }
  &__menu {
    &--links {
      display: none;
      @include desktop {
        display: flex;
        list-style-type: none;
      }
    }
  }
  &__hamburger {
    @include desktop {
      display: none;
    }
  }
}

.hero {
  background-image: url('/assets/img/hero.jpg');
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  @include desktop {
    @include desktop-padding;
    height: 45vh;
  }
  @include mobile-padding;
  &__heading {
    font-family: 'Open Sans Light';
    color: $white;
    font-size: 25px;
    @include mobile-padding;
    @include desktop {
      font-size: 60px;
      @include desktop-padding;
    }
  }
}

.feature {
  background-color: $body-background;
  @include mobile-padding;
  display: block;
  @include desktop {
    display: flex;
  }
  &__content {
    @include mobile-padding;
    padding-top: 1rem;    
   padding-bottom: 1.1rem;
   @include desktop {
     padding: 2rem;

   }
&--heading {
  font-family: 'Open Sans Light';
  @include desktop {
    font-size: 20px;
  }
  }
  &--paragraph {
    font-size:12px;
    padding:1rem 0;
    line-height: 1rem;
    @include desktop {
      font-size: 18px;
      line-height: 1.5rem;
    }
  }
  }
}

.footer {
  background-color: $footer-background;
  display: flex;
  position: relative;
  justify-content: center;
  &__text {
    font-family: 'Open Sans';
    color:$white;
    font-size: 10px;
    margin:1rem 0;
    @include desktop {
      font-size: 23px;
      
    }
  }
}