/*the files to import are in the partials folder that lives inside where
syles sccss lives*/
/*variables file live inside the same folder as the 
mixins so no need to put '/' in the beginning. */
@font-face {
  font-family: 'Open Sans';
  src: url("/assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Open Sans Light';
  src: url("/assets/fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Quicksand';
  src: url("/assets/fonts/OpenSans-Regular.ttf");
}

*,
html {
  margin: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, p {
  margin: 0;
}

li {
  padding-left: 1rem;
}

/*----write code here------*/
.header {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  padding: 0 1rem;
}

@media (min-width: 1024px) {
  .header {
    padding: 0 3rem;
  }
}

.header__logo {
  font-family: 'Open Sans';
}

.header__menu--links {
  display: none;
}

@media (min-width: 1024px) {
  .header__menu--links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
}

@media (min-width: 1024px) {
  .header__hamburger {
    display: none;
  }
}

.hero {
  background-image: url("/assets/img/hero.jpg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

@media (min-width: 1024px) {
  .hero {
    padding: 0 3rem;
    height: 45vh;
  }
}

.hero__heading {
  font-family: 'Open Sans Light';
  color: #fff;
  font-size: 25px;
  padding: 0 1rem;
}

@media (min-width: 1024px) {
  .hero__heading {
    font-size: 60px;
    padding: 0 3rem;
  }
}

.feature {
  background-color: #DCC6BF;
  padding: 0 1rem;
  display: block;
}

@media (min-width: 1024px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.feature__content {
  padding: 0 1rem;
  padding-top: 1rem;
  padding-bottom: 1.1rem;
}

@media (min-width: 1024px) {
  .feature__content {
    padding: 2rem;
  }
}

.feature__content--heading {
  font-family: 'Open Sans Light';
}

@media (min-width: 1024px) {
  .feature__content--heading {
    font-size: 20px;
  }
}

.feature__content--paragraph {
  font-size: 12px;
  padding: 1rem 0;
  line-height: 1rem;
}

@media (min-width: 1024px) {
  .feature__content--paragraph {
    font-size: 18px;
    line-height: 1.5rem;
  }
}

.footer {
  background-color: #132D34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__text {
  font-family: 'Open Sans';
  color: #fff;
  font-size: 10px;
  margin: 1rem 0;
}

@media (min-width: 1024px) {
  .footer__text {
    font-size: 23px;
  }
}
/*# sourceMappingURL=styles.css.map */