
@import "mixins.scss";
@import "variables.scss";
@import "fonts.scss";

  * html{
      margin:0;
  }


  .comments-form-header {
    font-family: "Avenir-Next-Bold";
    color: #323232;

    @include mobile {
        font-size: 24px;
        line-height: 32px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 40px;
        margin-top: 32px;
    }

    @include tablet {
        font-size: 36px;
        line-height: 44px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 40px;
        margin-top: 32px;
    }
    @include desktop {
        font-size: 36px;
        line-height: 44px;
        margin-left: 132px;
        margin-right: 16px;
        margin-bottom: 40px;
        margin-top: 32px;
    }
}

//the flex styling for comment form assumes the comment is atleast 82-100 character
// for the date to show up in the correct corner

.comments-form {
    background-color: #ffffff;

    @include mobile {
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        flex-direction: row;
        align-items: left;
    }
    @include tablet {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 96px;
    }

    @include desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 30%;
    }

    &__icon {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-image: url("../assets/Images/Mohan-muruge.jpg");
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        align-self: start;

        @include mobile {
            margin: 0;
            margin-right: 16px;
            margin-top: 24px;
        }
        @include desktop {
        }

        @include tablet {
        }
    }

    &__field {
        flex: 1 0 0;

        input:focus {
            border: 2px solid black;
            outline: none;
        }

        textarea:focus {
            border: 2px solid black;
            outline: none;
        }

        &--title {
            font-family: "Avenir-Next-Demi";
            color: #afafaf;

            @include mobile {
                font-size: 14px;
                line-height: 22px;
                margin: 0;
            }
            @include desktop {
            }

            @include tablet {
            }
        }

        &--name {
            padding: 0;
            border: 1px solid #afafaf;
            background-color: #f8f8f8;
            border-radius: 4px;
            height: 40px;
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 20px;
            resize: none;

            @include mobile {
                width: 224px;
            }
            @include tablet {
                width: 520px;
            }

            @include desktop {
                width: 460px;
            }
        }

        &--comment {
            border: 1px solid #afafaf;
            box-sizing: border-box;
            border-radius: 4px;
            background-color: #f8f8f8;
            height: 112px;

            font-size: 14px;
            line-height: 20px;
            resize: none;

            @include mobile {
                width: 224px;
                margin-bottom: 16px;
            }
            @include tablet {
                width: 520px;
                margin-bottom: 24px;
            }
            @include desktop {
                width: 460px;
                margin-bottom: 24px;
            }
        }

        &--button {
            background-color: #323232;
            color: #ffffff;
            font-family: "Avenir-Next-Demi";
            border-radius: 4px;
            font-size: 16px;
            line-height: 24px;
            padding: 12px 0;
            border: 0px;

            @include mobile {
                margin-bottom: 32px;
                margin-left: 0;
                width: 224px;
            }

            @include tablet {
                width: 200px;
                margin-left: 320px;
                margin-bottom: 24px;
            }
            @include desktop {
                width: 160px;
                margin-left: 300px;
                margin-bottom: 24px;
            }
        }
    }
}

.previous-comments {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;

    &__box {
        display: flex;
        flex-direction: row;

        @include mobile {
            margin-left: 16px;
        }

        @include tablet {
            margin-left: 96px;
            margin-right: 96px;
        }

        @include desktop {
            margin-left: 360px;
            margin-right: 320px;
        }
    }

    &__div {
        @include mobile {
            display: flex;
            flex-direction: row;
            flex: 1 0 0;
        }
    }

    &__heading {
        @include mobile {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
        }

        &--time {
            color: #afafaf;
            font-family: "Avenir-Next-light";
        }

        &--name {
            color: #323232;
            font-family: "Avenir-Next-Medium";

            @include mobile {
                font-size: 14px;
                line-height: 22px;
                margin: 0;
            }
        }
    }

    &__icon {
        border-radius: 50%;
        display: flex;
        align-items: center;
        background-color: silver;
        align-self: start;

        @include mobile {
            margin-right: 16px;
            margin-top: 12px;
            width: 40px;
            height: 40px;
        }
    }

    &__comment {
        font-family: "Avenir-Next-Light";
        margin: 0;
    }
}
