@font-face {
    font-family: 'Open Sans';
    src:url('/assets/fonts/OpenSans-Regular.ttf')
}

@font-face {
    font-family: 'Open Sans Light';
    src:url('/assets/fonts/OpenSans-Light.ttf')
}

@font-face {
    font-family:'Quicksand';
    src:url('/assets/fonts/OpenSans-Regular.ttf');
}