/*variables file live inside the same folder as the 
mixins so no need to put '/' in the beginning. */
@import "variables";

@mixin desktop {
    @media (min-width: $desktop) {
        @content
    }
};

@mixin mobile-padding {
    padding: 0 1rem
};

@mixin desktop-padding {
    padding: 0 3rem;
};