
@import "mixins.scss";
@import "variables.scss";
@import"fonts.scss";


.photo-gallery{
    font-family: 'Avenir-Next-Bold';
    color: #323232;
    @include desktop{
        margin-right: 10%;
        margin-left: 10%;
        padding-bottom: 2%;
  
    }

    &__header{
        @include mobile{
            padding-left:  12px;
            
        } 

        @include tablet{
            padding-left: 12px;
        }
    }

}


.photo-gallery-grid{

   display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

   
    &__img {
     
        

        @include mobile{
            width: 288px;
            height: 162px;
            padding: 16px 24px;
        }
  
      @include tablet{
       width: 224px;
        height: 126px; 
        padding: 12px 8px;
        
      }
      @include desktop {
         width: 287px;
        height: 161px; 
        padding: 12px 12px;
        flex-basis:30%;
       
    
          }
    }
}


/*============*/

.footer {
    background-color: #323232;
    color: #FAFAFA;
    position: relative;
    margin-left:-10px;
    margin-right:-10px;
 
   
    @include tablet-padding;
    @include desktop{
        @include desktop-padding;
    } 
 
    @include mobile{
   
    }  


    &__copyright{
        font-family: 'Avenir-Next-Medium';
          @include desktop{
            margin-bottom: 1rem;  
         }
    
  
    }

  


}

.footer__logo{
@include tablet-logo-position;
    @include desktop{
        @include desktop-logo-position;

    }    

}

.footer-heading{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    align-content: left;
    position: relative;
    
    
    &__title{
        font-size: 36px;
        line-height: 32px;
        font-family: 'Avenir-Next-Bold';
        padding-right: 1rem;
        padding-top: 2rem;   
        
    }
   
    &__icons{ 
            padding-left: 40px;    
    }
        &__img{
            height: auto;
            padding-right: 32px;
             align-self: flex-end; 

        } 
    


     

}



.footer__body{
    font-family: 'Avenir-Next-Medium';
    position: relative;
    display: flex;
    padding-right: 20%;
    justify-content: space-between;
    @include tablet{
        padding-right: 5%;
    }

    
    &--name{
       font-size: 16px;
        line-height: 24px;
       
    }
    &--address{
        font-size: 14px;
        line-height: 20px;
    }

    &--email{
       font-size: 14px;
        line-height: 20px;  
    }

    
}