
@import "mixins.scss";
@import "variables.scss";
@import"fonts.scss";


.photo-gallery{
    font-family: 'Avenir-Next-Bold';
    color: #323232;
    @include desktop{
        margin-right: 10%;
        margin-left: 10%;
        padding-bottom: 2%;
  
    }

    &__header{
        @include mobile{
            padding-left:  12px;
            
        } 

        @include tablet{
            padding-left: 12px;
        }
    }

}


.photo-gallery-grid{

   display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

   
    &__img {
     
        

        @include mobile{
            width: 288px;
            height: 162px;
            padding: 16px 24px;
        }
  
      @include tablet{
       width: 224px;
        height: 126px; 
        padding: 12px 8px;
        
      }
      @include desktop {
         width: 287px;
        height: 161px; 
        padding: 12px 12px;
        flex-basis:30%;
       
    
          }
    }
}


/*============*/

.footer {
    background-color: #323232;
    color: #FAFAFA;
    position: relative;
  
    &__copyright{
        font-family: 'Avenir-Next-Medium';
          @include desktop{
            margin-bottom: 1rem;  
         }
    
  
    }

  
    @include desktop{
        padding-right: 12%;
        padding-left: 12%;
        padding-bottom: 5%;
    }

    @include mobile{

    }

    @include tablet{

    }


}

.footer__logo{

    @include desktop{
    width: 110px;
   
        position: absolute;
        right: 11%;
        top:56px;

    }

    @include mobile{


    }

    @include tablet{


    }



    

}

.footer-heading{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    align-content: left;
    position: relative;
    
    
    &__title{
        font-size: 36px;
        line-height: 32px;
        font-family: 'Avenir-Next-Bold';
       
        @include desktop{
         padding-right: 1rem;
         padding-top: 2rem;   
        }
        
      
        
    }
   
    &__icons{
        @include desktop{
            padding-left: 40px;  
        }

    }
        &__img{
            height: auto;
            padding-right: 32px;
            
            @include desktop{
                 align-self: flex-end; 
            }
          
        } 
    


     

}



.footer__body{
    font-family: 'Avenir-Next-Medium';
    position: relative;
    display: flex;
 
    padding-right: 20%;
    justify-content: space-between;


    
    &--name{
       font-size: 16px;
        line-height: 24px;
       
    }
    &--address{
        font-size: 14px;
        line-height: 20px;
    }

    &--email{
       font-size: 14px;
        line-height: 20px;  
    }

    
}