@import "variables.scss";



@mixin desktop{
    @media(min-width:$desktop )
    {
        @content;
    }
}
  
@mixin desktop-margin{
    margin: 0 2%;
}

@mixin tablet{
   @media (min-width:$tablet){
       @content;
   }
}

@mixin teblet-margin{
    margin: 0 2%;
}

@mixin mobile{
    @media (min-width:$mobile){
        @content;
    }
}

