@import "variables.scss";



@mixin desktop{
    @media(min-width:$desktop )
    {
        @content;
    }
}
  
@mixin desktop-margin{
    margin: 0 2%;
}

@mixin desktop-padding{
    padding-left: 11%;
    padding-right: 11%;
    padding-bottom: 5%;
}

@mixin tablet-padding{   
    
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 5%;
}

@mixin mobile-padding{
    padding-left: 7.5%;
}

@mixin tablet-logo-position{
    position: absolute;
    right: 2%;
    top:56px;
}

@mixin desktop-logo-position{
            position: absolute;
        right: 11%;
        top:56px;
}

@mixin mobile-logo-position{
    visibility:hidden;
}

@mixin tablet{
   @media (min-width:$tablet){
       @content;
   }
}

@mixin teblet-margin{
    margin: 0 2%;
}

@mixin mobile{
    @media (min-width:$mobile){
        @content;
    }
}


@mixin mobile-icon-padding{
    padding-left:0;
}



@mixin band-img-desktop{
    height: auto;
    width:896px;
    padding-left: 15%; 
  
}



@mixin band-img-tablet{
    height: auto;
    width:720px;
    padding-left: 3%; 
 
}

@mixin band-img-mobile{


    height: auto;
    width:288px;
    padding-left: 15%; 
}


