@import "variables.scss";



@mixin desktop{
    @media(min-width:$desktop )
    {
        @content;
    }
}
  
@mixin desktop-margin{
    margin: 0 2%;
}

@mixin desktop-padding{

    padding-right: 11%;
    padding-left: 11%;
    padding-bottom: 5%;
}

@mixin tablet-padding{   
    
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 5%;
}

@mixin tablet-logo-position{
    position: absolute;
    right: 2%;
    top:56px;
}

@mixin desktop-logo-position{
            position: absolute;
        right: 11%;
        top:56px;
}

@mixin tablet{
   @media (min-width:$tablet){
       @content;
   }
}

@mixin teblet-margin{
    margin: 0 2%;
}

@mixin mobile{
    @media (min-width:$mobile){
        @content;
    }
}

