@font-face {
  font-family: 'Avenir-Next-Bold';
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: 'Avenir-Next-BoldIt';
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-BoldIt.otf");
}

@font-face {
  font-family: 'Avenir-Next-Demi';
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: 'Avenir-Next-DemiIt';
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-DemiIt.otf");
}

@font-face {
  font-family: 'Avenir-Next-Heavy';
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Heavy.otf");
}

@font-face {
  font-family: 'Avenir-Next-HeavyIt';
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-HeavyIt.otf");
}

@font-face {
  font-family: 'Avenir-Next-It';
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-It.otf");
}

@font-face {
  font-family: 'Avenir-Next-Light';
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Light.otf");
}

@font-face {
  font-family: 'Avenir-Next-LightIt';
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-LightIt.otf");
}

@font-face {
  font-family: 'Avenir-Next-Medium';
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Medium.otf");
}

@font-face {
  font-family: 'Avenir-Next-MediumIt';
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-MediumIt.otf");
}

@font-face {
  font-family: 'Avenir-Next-Regular';
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: 'Avenir-Next-Thin';
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Thin.otf");
}

@font-face {
  font-family: 'Avenir-Next-ThinIt';
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-ThinIt.otf");
}

@font-face {
  font-family: 'Avenir-Next-UltLt';
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-UltLt.otf");
}

@font-face {
  font-family: 'Avenir-Next-UltLtIt';
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-UltLtIt.otf");
}

* html {
  margin: 0;
}

a {
  width: inherit;
  height: inherit;
  text-decoration: none;
}

body {
  margin: 0;
}

.nav-bar-link {
  color: #FAFAFA;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #323232;
  font-family: 'Avenir-Next-Medium';
}

@media (min-width: 320px) {
  .nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    font-size: 16px;
    padding-top: 1rem;
  }
}

@media (min-width: 768px) {
  .nav-bar {
    padding-left: 5%;
    padding-top: 2rem;
    font-size: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .nav-bar {
    padding-left: 15%;
    padding-top: 2rem;
    font-size: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav-bar__list {
  margin: 0;
  padding: 0;
}

@media (min-width: 320px) {
  .nav-bar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .nav-bar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .nav-bar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 1rem;
  }
}

.nav-bar__text {
  list-style-type: none;
}

@media (min-width: 320px) {
  .nav-bar__text--passive {
    padding-left: 48px;
    padding-right: 32px;
  }
}

@media (min-width: 768px) {
  .nav-bar__text--passive {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .nav-bar__text--passive {
    padding-left: 0;
    padding-right: 0;
  }
}

.nav-bar__text--active {
  border-bottom: 3px solid white;
}

@media (min-width: 320px) {
  .nav-bar__text--active {
    padding-bottom: 1rem;
    text-align: center;
    padding-left: 56px;
    padding-right: 56px;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .nav-bar__text--active {
    padding-bottom: 1.5rem;
    margin-right: 4rem;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .nav-bar__text--active {
    padding-bottom: 1.5rem;
    margin-right: 4rem;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 320px) {
  .nav-bar__logo {
    padding-left: 103px;
    padding-right: 0;
    padding-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .nav-bar__logo {
    padding-right: 3rem;
    padding-left: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .nav-bar__logo {
    padding-right: 3rem;
    padding-left: 0;
    padding-bottom: 0;
  }
}

.hero-container {
  background-image: url("../assets/images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 472px;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(20, 20, 20, 0.5);
          box-shadow: inset 0 0 0 1000px rgba(20, 20, 20, 0.5);
}

.hero-container__iframe {
  margin-left: 16px;
  font-size: 10px;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
}

.hero-container__title {
  font-family: 'Avenir-Next-Bold';
  color: #FAFAFA;
  margin: 0;
  font-size: 60px;
  line-height: 68px;
  padding-left: 15%;
  padding-top: 15%;
  padding-bottom: 15%;
}

@media (min-width: 320px) {
  .hero-container__title {
    font-size: 36px;
    line-height: 44px;
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 15%;
  }
}

@media (min-width: 768px) {
  .hero-container__title {
    font-size: 60px;
    line-height: 68px;
    padding-top: 15%;
    padding-left: 5%;
    padding-bottom: 15%;
  }
}

@media (min-width: 1200px) {
  .hero-container__title {
    font-size: 60px;
    line-height: 68px;
    padding-left: 15%;
    padding-top: 15%;
    padding-bottom: 15%;
  }
}

.hero-container__title-small {
  font-family: 'Avenir-Next-Light';
  color: #FAFAFA;
  margin: 0;
}

@media (min-width: 320px) {
  .hero-container__title-small {
    font-size: 16px;
    line-height: 24px;
    padding-left: 24px;
    padding-top: 64px;
  }
}

/*============*/
main {
  background-color: #fafafa;
}

.shows {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 40px;
}

.shows__box {
  border-bottom: 1px solid #e1e1e1;
}

.shows__header-title {
  font-family: 'Avenir-Next-Bold';
  font-size: 36px;
  line-height: 44px;
  color: #323232;
  margin-top: 32px;
  margin-bottom: 40px;
}

.shows__title {
  font-family: 'Avenir-Next-Demi';
  font-size: 16px;
  line-height: 24px;
  color: #afafaf;
  margin-top: 0;
  margin-bottom: 16px;
  margin-top: 40px;
}

.shows__date {
  font-family: 'Avenir-Next-Demi';
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  margin-top: 0px;
  margin-bottom: 24px;
}

.shows__info {
  font-family: 'Avenir-Next-Light';
  color: #323232;
}

.shows__buy-tickets {
  background-color: #323232;
  font-family: 'Avenir-Next-Demi';
  font-size: 16px;
  line-height: 24px;
  color: #fafafa;
  border: none;
  border-radius: 4px;
  width: 288px;
  padding: 16px 0;
  margin-top: 16px;
  margin-bottom: 16px;
}

.footer {
  background-color: #323232;
  color: #FAFAFA;
  position: relative;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 5%;
}

@media (min-width: 1200px) {
  .footer {
    padding-left: 11%;
    padding-right: 11%;
    padding-bottom: 5%;
  }
}

.footer__copyright {
  font-family: 'Avenir-Next-Medium';
}

@media (min-width: 1200px) {
  .footer__copyright {
    margin-bottom: 1rem;
  }
}

.footer-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 1200px) {
  .footer-heading__left-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 768px) {
  .footer-heading__left-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-heading__left-div--title {
  font-size: 36px;
  line-height: 32px;
  font-family: 'Avenir-Next-Bold';
  padding-right: 4rem;
  padding-top: 2rem;
}

.footer-heading__left-div--img {
  height: auto;
  padding-right: 32px;
}

.footer-heading__logo {
  height: 20px;
}

@media (min-width: 320px) {
  .footer-heading__logo {
    display: none;
  }
}

@media (min-width: 1200px) {
  .footer-heading__logo {
    display: block;
  }
}

@media (min-width: 768px) {
  .footer-heading__logo {
    display: block;
  }
}

.footer__body {
  font-family: 'Avenir-Next-Medium';
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1200px) {
  .footer__body {
    padding-right: 20%;
  }
}

.footer__body--name {
  font-size: 16px;
  line-height: 24px;
}

.footer__body--address {
  font-size: 14px;
  line-height: 20px;
}

.footer__body--email {
  font-size: 14px;
  line-height: 20px;
}
/*# sourceMappingURL=shows.css.map */