@import "mixins.scss";
@import "variables.scss";
@import "fonts.scss";

* html {
    margin: 0;
}

a {
    width: inherit;
    height: inherit;
    text-decoration: none;
}

body {
    margin: 0;
}
.nav-bar-link {
    color: #fafafa;
}
.nav-bar {
    display: flex;
    justify-content: left;
    align-items: baseline;

    background-color: #323232;
    font-family: "Avenir-Next-Medium";

    @include mobile {
        flex-direction: column;
        padding-left: 0;
        font-size: 16px;
        padding-top: 1rem;
    }

    @include tablet {
        padding-left: 5%;
        padding-top: 2rem;
        font-size: 16px;
        flex-direction: row;
    }

    @include desktop {
        padding-left: 15%;
        padding-top: 2rem;
        font-size: 16px;
        flex-direction: row;
    }

    &__list {
        margin: 0;
        padding: 0;
        @include mobile {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 1rem;
        }
    }

    &__text {
        list-style-type: none;

        &--passive {
            @include mobile {
                padding-left: 2.5rem;
                padding-right: 2rem;
            }

            @include tablet {
                padding-left: 0;
                padding-right: 0;
            }

            @include desktop {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &--active {
            border-bottom: 3px solid white;

            @include mobile {
                padding-bottom: 1rem;
                text-align: center;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                margin-right: 0;
            }

            @include tablet {
                padding-bottom: 1.5rem;
                margin-right: 4rem;
                padding-left: 0;
                padding-right: 0;
            }

            @include desktop {
                padding-bottom: 1.5rem;
                margin-right: 4rem;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &__logo {
        @include mobile {
            padding-left: 50%;
            padding-right: 0;
            padding-bottom: 1rem;
        }

        @include tablet {
            padding-right: 3rem;
            padding-left: 0;
            padding-bottom: 0;
        }

        @include desktop {
            padding-right: 3rem;
            padding-left: 0;
            padding-bottom: 0;
        }
    }
}

.hero-container {
    background-image: url("../assets/images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    box-shadow: inset 0 0 0 1000px rgba(19.6, 19.6, 19.6, 0.5);

    &__title {
        font-family: "Avenir-Next-Bold";
        color: #fafafa;
        margin: 0;
        font-size: 60px;
        line-height: 68px;
        padding-left: 15%;
        padding-top: 15%;
        padding-bottom: 15%;

        @include mobile {
            font-size: 24px;
            line-height: 32px;
            padding-top: 15%;
            padding-left: 5%;
            padding-bottom: 15%;
        }

        @include tablet {
            font-size: 60px;
            line-height: 68px;
            padding-top: 15%;
            padding-left: 5%;
            padding-bottom: 15%;
        }

        @include desktop {
            font-size: 60px;
            line-height: 68px;
            padding-left: 15%;
            padding-top: 15%;
            padding-bottom: 15%;
        }
    }
}

.feature {
    padding-bottom: 3%;
    color: #323232;

    &__top {
        &--title {
            font-family: "Avenir-Next-Bold";
            padding-left: 15%;
            font-size: 36px;
            line-height: 44px;

            @include mobile {
                padding-left: 3%;

                font-size: 24px;
                line-height: 32px;
            }

            @include tablet {
                padding-left: 3%;
                font-size: 36px;
                line-height: 44px;
            }

            @include desktop {
                padding-left: 15%;
                font-size: 36px;
                line-height: 44px;
            }
        }

        &--img {
            @include mobile {
                width: 288px;
                height: auto;
                padding-left: 3%;
            }

            @include tablet {
                width: 720px;
                height: auto;
                padding-left: 3%;
            }
            @include desktop {
                width: 896px;
                height: auto;
                padding-left: 15%;
            }
        }
    }

    &__quote {
        font-family: "Avenir-Next-Bold";

        @include mobile {
            padding-left: 3%;
            padding-right: 1%;
            font-size: 16px;
            line-height: 24px;
            font-family: "Avenir-Next-Demi";
        }

        @include tablet {
            padding-left: 3%;
            padding-right: 0;
            font-size: 24px;
            line-height: 32px;
        }

        @include desktop {
            padding-left: 15%;
            padding-right: 15%;
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__sign {
        font-family: "Avenir-Next-Demi";
        font-size: 16px;
        line-height: 24px;
        @include mobile {
            padding-left: 3%;
        }

        @include tablet {
            padding-left: 3%;
        }

        @include desktop {
            padding-left: 15%;
        }
        padding-bottom: 1rem;
    }

    &__article {
        &--title {
            @include mobile {
                padding-left: 3%;
                font-size: 16px;
                font-family: "Avenir-Next-Demi";
                font-weight: 24px;
            }

            @include tablet {
                padding-left: 3%;
                font-family: "Avenir-Next-Bold";
                font-size: 24px;
                font-weight: 32px;
            }

            @include desktop {
                padding-left: 15%;
                font-family: "Avenir-Next-Bold";
                font-size: 24px;
                font-weight: 32px;
            }
        }

        &--body {
            display: flex;

            justify-content: space-between;
            font-family: "Avenir-Next-Light";
            font-size: 14px;
            line-height: 22px;

            @include mobile {
                flex-direction: column;
                padding-left: 3%;
                padding-bottom: 2rem;
            }

            @include tablet {
                justify-content: space-between;
                padding: 0 1% 0 1%;
                flex-direction: row;
                padding-bottom: 0;
            }

            @include desktop {
                justify-content: space-between;
                padding: 0 13% 0 11%;
                flex-direction: row;
                padding-bottom: 0;
            }

            &--text {
                margin: 0;

                @include mobile {
                    padding-left: 1%;
                    padding-top: 1rem;
                    padding-right: 0;
                }

                @include tablet {
                    padding-left: 1rem;
                    padding-right: 1rem;
                    padding-top: 0;
                }

                @include desktop {
                    padding-left: 3rem;
                    padding-top: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

.photo-gallery {
    background-color: #fafafa;
    font-family: "Avenir-Next-Bold";
    color: #323232;

    padding-top: 1rem;
    @include desktop {
        padding-right: 10%;
        padding-left: 10%;
        padding-bottom: 2%;
    }

    &__header {
        @include mobile {
            padding-left: 12px;
        }

        @include tablet {
            padding-left: 16px;
        }
    }
}

.photo-gallery-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    &__img {
        @include mobile {
            width: 288px;
            height: 162px;
            padding: 16px 24px;
        }

        @include tablet {
            width: 224px;
            height: 126px;
            padding: 12px 8px;
        }
        @include desktop {
            width: 287px;
            height: 161px;
            padding: 12px 12px;
            flex-basis: 30%;
        }
    }
}

/*============*/

.footer {
    background-color: #323232;
    color: #fafafa;
    position: relative;

    @include tablet-padding;
    @include desktop {
        @include desktop-padding;
    }

    &__copyright {
        font-family: "Avenir-Next-Medium";
        @include desktop {
            margin-bottom: 1rem;
        }
    }
}

.footer-heading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &__left-div {
        @include desktop {
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }

        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }

        &--title {
            font-size: 36px;
            line-height: 32px;
            font-family: "Avenir-Next-Bold";
            padding-right: 4rem;
            padding-top: 2rem;
        }

        &--img {
            height: auto;
            padding-right: 32px;
        }
    }

    &__logo {
        height: 20px;
        @include mobile {
            display: none;
        }
        @include desktop {
            display: block;
        }

        @include tablet {
            display: block;
        }
    }
}

.footer__body {
    font-family: "Avenir-Next-Medium";
    position: relative;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    @include desktop {
        padding-right: 20%;
    }

    &--name {
        font-size: 16px;
        line-height: 24px;
    }
    &--address {
        font-size: 14px;
        line-height: 20px;
    }

    &--email {
        font-size: 14px;
        line-height: 20px;
    }
}

.comments-form-header {
    font-family: "Avenir-Next-Bold";
    color: #323232;

    @include mobile {
        font-size: 24px;
        line-height: 32px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 40px;
        margin-top: 32px;
    }

    @include tablet {
        font-size: 36px;
        line-height: 44px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 40px;
        margin-top: 32px;
    }
    @include desktop {
        font-size: 36px;
        line-height: 44px;
        margin-left: 132px;
        margin-right: 16px;
        margin-bottom: 40px;
        margin-top: 32px;
    }
}

//the flex styling for comment form assumes the comment is atleast 82-100 character
// for the date to show up in the correct corner

.comments-form {
    background-color: #ffffff;

    @include mobile {
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        flex-direction: row;
        align-items: left;
    }
    @include tablet {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 96px;
    }

    @include desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 30%;
    }

    &__icon {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-image: url("../assets/Images/Mohan-muruge.jpg");
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        align-self: start;

        @include mobile {
            margin: 0;
            margin-right: 16px;
            margin-top: 24px;
        }
        @include desktop {
        }

        @include tablet {
        }
    }

    &__field {
        flex: 1 0 0;

        input:focus {
            border: 2px solid black;
            outline: none;
        }

        textarea:focus {
            border: 2px solid black;
            outline: none;
        }

        &--title {
            font-family: "Avenir-Next-Demi";
            color: #afafaf;

            @include mobile {
                font-size: 14px;
                line-height: 22px;
                margin: 0;
            }
            @include desktop {
            }

            @include tablet {
            }
        }

        &--name {
            padding: 0;
            border: 1px solid #afafaf;
            background-color: #f8f8f8;
            border-radius: 4px;
            height: 40px;
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 20px;
            resize: none;

            @include mobile {
                width: 224px;
            }
            @include tablet {
                width: 520px;
            }

            @include desktop {
                width: 460px;
            }
        }

        &--comment {
            border: 1px solid #afafaf;
            box-sizing: border-box;
            border-radius: 4px;
            background-color: #f8f8f8;
            height: 112px;

            font-size: 14px;
            line-height: 20px;
            resize: none;

            @include mobile {
                width: 224px;
                margin-bottom: 16px;
            }
            @include tablet {
                width: 520px;
                margin-bottom: 24px;
            }
            @include desktop {
                width: 460px;
                margin-bottom: 24px;
            }
        }

        &--button {
            background-color: #323232;
            color: #ffffff;
            font-family: "Avenir-Next-Demi";
            border-radius: 4px;
            font-size: 16px;
            line-height: 24px;
            padding: 12px 0;
            border: 0px;

            @include mobile {
                margin-bottom: 32px;
                margin-left: 0;
                width: 224px;
            }

            @include tablet {
                width: 200px;
                margin-left: 320px;
                margin-bottom: 24px;
            }
            @include desktop {
                width: 160px;
                margin-left: 300px;
                margin-bottom: 24px;
            }
        }
    }
}

.previous-comments {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;

    &__box {
        display: flex;
        flex-direction: row;

        @include mobile {
            margin-left: 16px;
        }

        @include tablet {
            margin-left: 96px;
            margin-right: 96px;
        }

        @include desktop {
            margin-left: 360px;
            margin-right: 320px;
        }
    }

    &__div {
        @include mobile {
            display: flex;
            flex-direction: row;
            flex: 1 0 0;
        }
    }

    &__heading {
        @include mobile {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
        }

        &--time {
            color: #afafaf;
            font-family: "Avenir-Next-light";
        }

        &--name {
            color: #323232;
            font-family: "Avenir-Next-Medium";

            @include mobile {
                font-size: 14px;
                line-height: 22px;
                margin: 0;
            }
        }
    }

    &__icon {
        border-radius: 50%;
        display: flex;
        align-items: center;
        background-color: silver;
        align-self: start;

        @include mobile {
            margin-right: 16px;
            margin-top: 12px;
            width: 40px;
            height: 40px;
        }
    }

    &__comment {
        font-family: "Avenir-Next-Light";
        margin: 0;
    }
}
