@import "mixins.scss";
@import "variables.scss";
@import "fonts.scss";

* html {
    margin: 0;
}

a {
    width: inherit;
    height: inherit;
    text-decoration: none;
}

body {
    margin: 0;
}
.nav-bar-link {
    color: #fafafa;
}
.nav-bar {
    display: flex;
    justify-content: left;
    align-items: baseline;

    background-color: #323232;
    font-family: "Avenir-Next-Medium";

    @include mobile {
        flex-direction: column;
        padding-left: 0;
        font-size: 16px;
        padding-top: 1rem;
    }

    @include tablet {
        padding-left: 24px;
        padding-top: 30px;
        font-size: 16px;
        flex-direction: row;
    }

    @include desktop {
        padding-left: 152px;
        padding-top: 2rem;
        font-size: 16px;
        flex-direction: row;
    }

    &__list {
        margin: 0;
        padding: 0;
        @include mobile {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 1rem;
        }
    }

    &__text {
        list-style-type: none;

        &--passive {
            @include mobile {
                width: 160px;
                text-align: center;
                margin-left: 0;
            }

            @include tablet {
                width: 80px;
                margin-left: 56px;
            }

            @include desktop {
                width: 80px;
                margin-left: 56px;
            }
        }

        &--active {
            border-bottom: 3px solid white;

            @include mobile {
                width: 160px;
                padding-bottom: 1rem;
                text-align: center;
                margin-left: 0;
            }

            @include tablet {
                width: 80px;
                padding-bottom: 1.5rem;
                margin-left: 56px;
            }

            @include desktop {
                width: 80px;
                padding-bottom: 1.5rem;
                margin-left: 56px;
            }
        }
    }

    &__logo {
        @include mobile {
            padding-bottom: 1rem;
            padding-left: 100px;
            padding-right: 60px;
        }

        @include tablet {
            padding: 0 0;
        }

        @include desktop {
            padding: 0 0;
        }
    }
}

.hero-container {
    background-image: url("../assets/images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    box-shadow: inset 0 0 0 1000px rgba(19.6, 19.6, 19.6, 0.5);

    @include mobile {
        height: 183px;
    }

    @include tablet {
        height: 400px;
    }

    @include desktop {
        height: 670px;
    }

    &__title {
        font-family: "Avenir-Next-Bold";
        color: #fafafa;
        margin: 0;
        font-size: 60px;
        line-height: 68px;
        padding-bottom: 15%;
        padding-top: 15%;

        @include mobile {
            font-size: 24px;
            line-height: 32px;
            padding-left: 16px;
        }

        @include tablet {
            font-size: 60px;
            line-height: 68px;
            padding-left: 24px;
        }

        @include desktop {
            font-size: 60px;
            line-height: 68px;
            padding-left: 152px;
        }
    }
}

.feature {
    color: #323232;

    @include mobile {
        padding-bottom: 40px;
    }

    @include tablet {
        padding-bottom: 48px;
    }

    @include desktop {
        padding-bottom: 48px;
    }

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &--title {
            font-family: "Avenir-Next-Bold";
            font-size: 36px;
            line-height: 44px;
            align-self: flex-start;
            margin: 40px 40px;

            @include mobile {
                font-size: 24px;
                line-height: 32px;
                padding-left: 16px;
                margin: 24px 0;
            }

            @include tablet {
                font-size: 36px;
                line-height: 44px;
                padding-left: 24px;
                margin: 48px 0;
            }

            @include desktop {
                font-size: 36px;
                line-height: 44px;
                padding-left: 152px;
                margin: 48px 0;
            }
        }

        &--img {
            @include mobile {
                width: 288px;
                height: auto;
                //   padding-left: 3%;
            }

            @include tablet {
                width: 720px;
                height: auto;
                //    padding-left: 3%;
            }
            @include desktop {
                width: 896px;
                height: auto;
                //   padding-left: 15%;
            }
        }
    }

    &__quote {
        font-family: "Avenir-Next-Bold";

        @include mobile {
            padding-left: 16px;
            padding-right: 16px;
            font-size: 16px;
            line-height: 24px;
            font-family: "Avenir-Next-Demi";
        }

        @include tablet {
            padding-left: 24px;
            padding-right: 24px;
            font-size: 24px;
            line-height: 32px;
        }

        @include desktop {
            padding-left: 152px;
            padding-right: 152px;
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__sign {
        font-family: "Avenir-Next-Demi";
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        @include mobile {
            padding-left: 16px;
            padding-bottom: 32px;
        }

        @include tablet {
            padding-left: 24px;
            padding-bottom: 56px;
        }

        @include desktop {
            padding-left: 152px;
            padding-bottom: 56px;
        }
    }

    &__article {
        &--title {
            margin-top: 0;
            @include mobile {
                padding-left: 16px;
                font-size: 16px;
                font-family: "Avenir-Next-Demi";
                margin-bottom: 24px;
            }

            @include tablet {
                padding-left: 24px;
                font-family: "Avenir-Next-Bold";
                font-size: 24px;
                margin-bottom: 32px;
            }

            @include desktop {
                padding-left: 152px;
                font-family: "Avenir-Next-Bold";
                font-size: 24px;
                margin-bottom: 32px;
            }
        }

        &--body {
            display: flex;
            justify-content: space-between;
            font-family: "Avenir-Next-Light";
            font-size: 14px;
            line-height: 22px;

            @include mobile {
                flex-direction: column;
                padding: 0 16px;
            }

            @include tablet {
                justify-content: space-between;
                padding: 0 24px;
                flex-direction: row;
            }

            @include desktop {
                justify-content: space-between;
                padding: 0 152px;
                flex-direction: row;
            }

            &--text {
                margin: 0;

                @include mobile {
                    padding-right: 0;
                }

                @include tablet {
                    padding-right: 24px;
                }

                @include desktop {
                    padding-right: 40px;
                }
            }
        }
    }
}

.photo-gallery {
    background-color: #fafafa;
    font-family: "Avenir-Next-Bold";
    color: #323232;

    padding-bottom: 40px;

    @include mobile {
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 40px;
    }
    @include tablet {
        padding-right: 0;
        padding-left: 24px;
        padding-top: 48px;
    }

    @include desktop {
        padding-right: 11%;
        padding-left: 11%;
        padding-top: 48px;
    }

    &__header {
        margin: 0;
        @include mobile {
            font-size: 12px;
            line-height: 20px;
            padding-bottom: 8px;
        }

        @include tablet {
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 46px;
        }

        @include desktop {
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 46px;
        }
    }
    &__grid {
        display: flex;
        flex-wrap: wrap;
        // flex-direction: row;
        justify-content: space-evenly;
        align-self: center;

        &--img {
            @include mobile {
                width: 288px;
                height: 162px;
                padding: 0 0 16px 0;
            }

            @include tablet {
                width: 224px;
                height: 126px;
                padding: 12px 24px 12px 0px;
            }
            @include desktop {
                width: 287px;
                height: 161px;
                padding: 12px 24px 12px 0px;
                flex-basis: 30%;
            }
        }
    }
}

/*============*/

.footer {
    background-color: #323232;
    color: #fafafa;
    position: relative;

    @include tablet-padding;
    @include desktop {
        @include desktop-padding;
    }

    &__copyright {
        font-family: "Avenir-Next-Medium";
        @include desktop {
            margin-bottom: 1rem;
        }
    }
}

.footer-heading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &__left-div {
        @include desktop {
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }

        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }

        &--title {
            font-size: 36px;
            line-height: 32px;
            font-family: "Avenir-Next-Bold";
            padding-right: 4rem;
            padding-top: 2rem;
        }

        &--img {
            height: auto;
            padding-right: 32px;
        }
    }

    &__logo {
        height: 20px;
        @include mobile {
            display: none;
        }
        @include desktop {
            display: block;
        }

        @include tablet {
            display: block;
        }
    }
}

.footer__body {
    font-family: "Avenir-Next-Medium";
    position: relative;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    @include desktop {
        padding-right: 20%;
    }

    &--name {
        font-size: 16px;
        line-height: 24px;
    }
    &--address {
        font-size: 14px;
        line-height: 20px;
    }

    &--email {
        font-size: 14px;
        line-height: 20px;
    }
}

.comments-form-header {
    font-family: "Avenir-Next-Bold";
    color: #323232;

    @include mobile {
        font-size: 24px;
        line-height: 32px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 40px;
        margin-top: 32px;
    }

    @include tablet {
        font-size: 36px;
        line-height: 44px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 40px;
        margin-top: 32px;
    }
    @include desktop {
        font-size: 36px;
        line-height: 44px;
        margin-left: 132px;
        margin-right: 16px;
        margin-bottom: 40px;
        margin-top: 32px;
    }
}

//the flex styling for comment form assumes the comment is atleast 82-100 character
// for the date to show up in the correct corner

.comments-form {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-bottom: solid 1px #e1e1e1;
    @include mobile {
        margin-left: 16px;
        margin-right: 16px;
    }
    @include tablet {
        margin-left: 96px;
        margin-right: 96px;
    }

    @include desktop {
        margin-left: 336px;
        margin-right: 336px;
    }

    &__icon {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        background-image: url("../assets/Images/Mohan-muruge.jpg");
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        align-self: start;

        margin: 0;
        margin-right: 16px;
        margin-top: 24px;

        @include mobile {
        }
        @include desktop {
        }

        @include tablet {
        }
    }

    &__field {
        //  flex: 1 0 0;
        display: flex;
        flex-direction: column;

        input:focus {
            border: 2px solid black;
            outline: none;
        }

        textarea:focus {
            border: 2px solid black;
            outline: none;
        }

        &--title {
            font-family: "Avenir-Next-Demi";
            color: #afafaf;
            font-size: 14px;
            line-height: 22px;
            margin: 0;
        }

        &--name {
            padding: 0;
            border: 1px solid #afafaf;
            background-color: #f8f8f8;
            border-radius: 4px;
            height: 40px;
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 20px;
            resize: none;

            @include mobile {
                width: 224px;
            }
            @include tablet {
                width: 460px;
            }

            @include desktop {
                width: 460px;
            }
        }

        &--comment {
            border: 1px solid #afafaf;
            box-sizing: border-box;
            border-radius: 4px;
            background-color: #f8f8f8;
            height: 112px;

            font-size: 14px;
            line-height: 20px;
            resize: none;

            @include mobile {
                width: 224px;
                margin-bottom: 16px;
            }
            @include tablet {
                width: 460px;
                margin-bottom: 24px;
            }
            @include desktop {
                width: 460px;
                margin-bottom: 24px;
            }
        }

        &--button {
            background-color: #323232;
            color: #ffffff;
            font-family: "Avenir-Next-Demi";
            border-radius: 4px;
            font-size: 16px;
            line-height: 24px;
            padding: 12px 0;
            border: 0px;

            @include mobile {
                margin-bottom: 32px;
                margin-left: 0;
                width: 224px;
            }

            @include tablet {
                width: 200px;
                margin-left: 260px;
                margin-bottom: 24px;
            }
            @include desktop {
                width: 160px;
                margin-left: 300px;
                margin-bottom: 24px;
            }
        }
    }
}

.previous-comments {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;

    &__box {
        display: flex;
        flex-direction: row;
        border-bottom: solid 1px #e1e1e1;
        padding-bottom: 24px;

        width: auto;
        height: auto;

        @include mobile {
            margin-left: 16px;
            margin-right: 16px;
            width: 288px;

            @include tablet {
                width: 528px;
                margin: 0;
            }

            @include desktop {
                width: 528px;
                margin: 0;
            }
        }
    }

    &__div {
        @include mobile {
            width: 224px;
        }

        @include tablet {
            width: 470px;
        }

        @include desktop {
            width: 470px;
        }
    }

    &__heading {
        display: flex;
        align-items: baseline;
        height: auto;

        @include mobile {
            justify-content: space-between;
        }
        @include tablet {
            justify-content: left;
        }

        @include desktop {
            justify-content: left;
        }

        &--time {
            color: #afafaf;
            font-family: "Avenir-Next-light";
            padding-left: 1rem;
        }

        &--name {
            color: #323232;
            font-family: "Avenir-Next-Medium";

            @include mobile {
                font-size: 14px;
                line-height: 22px;
                margin: 0;
            }
        }
    }

    &__icon {
        border-radius: 50%;
        display: flex;
        align-items: center;
        background-color: silver;
        align-self: start;
        width: 40px;
        height: 40px;
        margin-right: 16px;
        margin-top: 12px;
        @include mobile {
        }
    }

    &__comment {
        font-family: "Avenir-Next-Light";
        margin: 0;
    }
}
